* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

header,
footer {
    width: 100vw;
    background-color: #f5f5f5;
    padding: 2.5vw;
}

footer {
    position: absolute;
    bottom: 0;
    text-align: center;
}

main {
    padding: 2.5vw;
    width: 50vw;
    margin: auto;
}

h2 {
    margin: 30px auto;
    color: #599599;
    text-align: center;
}

ul {
    list-style: none;
}

ul li {
    margin: 10px;
    font-size: 1.05em;
    font-weight: bolder;
}

li.bot {
    color: darkslategray;
    text-align: left;
}

li.user {
    color: purple;
    text-align: right;
}

.opcoes-container button {
    display: inline-block;
    background-color: #599599;
    color: #fff;
    border: 2px solid #599599;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    font-size: 1.025em;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.opcoes-container button:hover {
    background-color: transparent;
    color: #599599;
}