* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

header,
footer {
    min-height: 5vh;
    width: 100vw;
    background-color: #f5f5f5;
    padding: 2.5vw;
}

footer { text-align: center }

main {
    padding: 15px;
    min-height: calc(90vh - 85px);
}

h2 {
    margin: 30px auto;
    color: #599599;
    text-align: center;
}

ul {
    list-style: none;
}

ul li {
    margin: 25px auto;
    font-size: 1.05em;
    font-weight: bolder;
}

li.bot {
    color: darkslategray;
    text-align: left;
}
li.bot::before {
    content: 'Bot';
    position: relative;
    top: -20px;
    font-size: 0.8em;
    font-style: italic;
    color: lightslategray;
}

li.user {
    color: purple;
    text-align: right;
}

li.user::after {
    content: 'Você';
    position: relative;
    top: -20px;
    font-size: 0.8em;
    font-style: italic;
    color: #a131a1;
}
.btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.opcoes-container {
    display: block;
    margin: 10px auto;
}
.opcoes-container button {
    display: inline-block;
    background-color: #599599;
    color: #fff;
    border: 2px solid #599599;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 15px;
    font-size: 1.025em;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.opcoes-container button:hover {
    background-color: transparent;
    color: #599599;
}
@media only screen and (min-widith: 768px) {

    main {
        padding: 2.5vw;
        width: 50vw;
        margin: auto;
    }

    #historico {
        min-height: 50vh;
        max-height: 50vh;
        overflow-y: scroll;
    }

    li.bot::before { left: 23px }
        
    li.user::after { right: 30px }
}